name: CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version-file: "pyproject.toml"


    - name: Install dependencies
      run: |
        uv venv
        uv sync

    - name: Install Ruff
      uses: astral-sh/ruff-action@v3

    - name: Lint
      run: |
        ruff check --fix
        ruff format --check
        rm -rf build/
        rm -rf *.egg-info
        find . -type d -name __pycache__ -exec rm -rf {} +
        find . -type f -name "*.pyc" -delete

    - name: Test
      run: |
        uv run pytest --cov --cov-report=term-missing || (uv run pytest --collect-only | grep -q "no tests collected" && echo "No tests found, skipping failure." || exit 1)
